/* My styles */
body {
  background-color: #111;
  color: white;
}

#main {
  width: 100%;
}

#main article {
  margin: 0 auto;
}

.avatar {
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

article ul {
  list-style: none;
  padding: 0;
  line-height: 0;
}

.caption {
  font-size: 14px;
}

#nav {
  position: fixed;
  z-index: 100;
}

#nav img {
  width: 50px;
  padding: 0;
  margin: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

a, a:hover, a:visited {
  color: #363;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#blog-info {
  margin-top: -50px;
  padding: 10px 10px 10px 0;
  background: black;
  border-radius: 10px;
  opacity: .6;
  width: 500px;
}

#blog-info img {
  float: left;
  margin: 0 20px;
}

#blog-info h2 {
  font-size: 20px;
  margin: 0;
}

#blog-info p {
  margin-top: 8px;
}

#blog-info span.num-posts {
  float: right;
  font-size: 11px;
}

body {
  background: #111;
  color: white;
}

.blog-post {
  float: left;
  border: 0;
  background: white;
  color: #333;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  width: 380px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.blog-post .img-responsive {
  width: 100%;
}

.blog-post .caption {
  padding: 10px;
  border-top: 3px solid #93e;
  margin-top: -10px;
}

.blog-post ul li a {
  display: block;
  padding: 10px;
  margin-top: -40px;
}